.employee-dob {
    display: flex;
    flex-direction: column;
    width:5.5rem ;
    height: 5.5rem;
    border: 1,solid, #ececec;
    background-color: #2a2a2a;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

.employee-dob__month {
    font-size: 0.75rem;
    font-weight: bold;
}

.employee-dob__year {
    font-size: 0.75rem;
}

.employee-dob__day {
    font-size: 1.2rem;
    font-weight: bold;

}