.employee-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem,0;
    background-color: rgb(119, 115, 115);
    box-shadow: 0,2px,8px,rgba(0,0,0,0.25);
    border-radius: 12px;

}
.employee-details__description {
    display: flex;
    flex-direction: row;
    gap : 1rem;
    align-items: flex-end;
    
    justify-content: flex-end;
    flex: 1;
}


.employee-details h2{
    
    color: #f0f8ff;
    font-size: 1.5rem;
    margin: auto;
    width: 50%;
    color: white;
    align-items: center;
    
    
}
.employee-details h2:hover {
    text-decoration: underline;
}


.employee-yoe {
    
    font-size: 1rem ;
    font-weight: bold;
    color: white;
    background-color: rgb(33, 2, 63);
    border: 1px, solid, white;
    padding: 0.75rem;
    border-radius: 12px;
}

.employee-delete {
    font-size: 1rem ;
    font-weight: bold;
    border: 1px, solid, white;
    padding: 0.75rem;
    border-radius: 12px;
}
.employee-deleted-message{
    color: white;
}
